
@charset "UTF-8";
#results{
    display:none;
}
h1{
    color: rgb(29, 95, 98);
}
body {
    background-image: url(tips.jpg);
    justify-content: center;
}

.card {
    background-color:navajowhite;
    border-radius: 80px;
    align-items: center;   
}

h3 {
    margin: auto;
    align-items: center;
    color: rgb(29, 95, 98);
    padding-bottom: 20px;
}


